@import 'adaptive';
.ITstandarts {
    background: #f6f6f8;
    & .ITstandarts__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 1110px;
        width: 100%;
        margin: 0 auto;
    }
    &__block {
        margin-bottom: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__info-block {
        max-width: 489px;
        width: 100%;
        margin: 0 auto;
    }
    &__title {
        font-weight: 700;
        text-align: left;
        color: #323232;
        line-height: 1.47;
        font-size: 20px;
        margin-bottom: 60px;
        font-size: 36px;
    }
    &__info {
        margin-bottom: 42px;
    }
    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        text-decoration-line: underline;
        color: #4985ff;
    }
    &__img {
        max-width: 500px;
        width: 100%;
        height: auto;
    }
    &__list {
        display: flex;
        -webkit-box-pack: space-evenly;
        justify-content: space-evenly;
        border-top: 1px solid #e0e0e0;
        padding-top: 70px;
    }
    &__svg {
        width: 30px;
        height: 30px;
        fill: #4985ff;
    }
    &__statistics {
        font-weight: 400;
        font-size: 36px;
        line-height: 53px;
        color: #000;
    }
    &__text {
        color: #999;
    }
}
div {
    display: block;
    unicode-bidi: isolate;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}